.input-field {
    margin-bottom: 25;
}
.input {
    font-size: 18;
    placeholder-color: #A8A8A8;
}
.input:disabled {
    background-color: white;
    opacity: 0.5;
}

.form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
}

.btn-primary {
    height: 50;
    margin: 30 5 15 5;
    background-color: darkorange;
    border-radius: 5;
    font-size: 20;
    font-weight: 600;
}

.btn-primary:disabled {
    opacity: 0.5;
}