<ActionBar backgroundColor="orange" color="white">
    <NavigationButton text="Go Back"></NavigationButton>
    <ActionItem></ActionItem>
    <Label text="NativeScript App Demo"></Label>
</ActionBar>
<ScrollView>
    <GridLayout class="form" rows="*,*,*,*,*,2*" margin="20">
        <TextField [(ngModel)]="newDepartment.name" row="0" hint="HR"></TextField>
        <TextField [(ngModel)]="newDepartment.description" row="1" hint="Human Resource"></TextField>
        <TextField [(ngModel)]="newDepartment.head" row="2" hint="Philip Chan"></TextField>
        <TextField [(ngModel)]="newDepartment.code" row="3" hint="ASP003"></TextField>
        <Button row="5" class="btn btn-primary m-t-20" verticalAlignment="center" horizontalAlignment="center"
                color="white" backgroundColor="orange" text="Create" (tap)="OnSave()">
        </Button>
    </GridLayout>
</ScrollView>