.page {
  align-items: center;
  flex-direction: column;
}
.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}
.logo {
  margin: 30;
  height: 120;
  font-weight: bold;
}
.header {
  horizontal-align: center;
  font-size: 25;
  font-weight: 600;
  margin-bottom: 40;
  text-align: center;
  color: darkorange;
}
.input-field {
  margin-bottom: 25;
}
.input {
  font-size: 18;
  color: #ffffff;
  placeholder-color: #eaeaea;
}
.input:disabled {
  background-color: white;
  opacity: 0.5;
}
.btn-primary {
  height: 50;
  margin: 30 5 15 5;
  background-color: darkorange;
  border-radius: 5;
  font-size: 20;
  font-weight: 600;
}
.btn-primary:disabled {
  opacity: 0.5;
}
.login-label {
  horizontal-align: center;
  color: #a8a8a8;
  font-size: 16;
}
.sign-up-label {
  margin-bottom: 20;
}
.bold {
  color: #000000;
}

.signuplink {
  color: #eaeaea;
}

.scrollView {
  flex: 1;
}
